@import "minimal-light";

.year-circle {
  position: absolute;
  left: -12px;
  top: -3px;
  width: 30px;
  height: 30px;
  background-color: #57068C;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.timeline-container {
  max-width: 800px;
  margin: 0;
  padding-left: 0;
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 70px;
  left: 2px;
  width: 1.5px;
  height: calc(100% - 120px);
  background: #57068C;
}

.timeline-entry {
}

.timeline-entry {
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;

  .dot {
    position: absolute;
    left: -10px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #57068C;
    border: 3px solid #fff;
    display: none;
  }

  h3 {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    line-height: 1.4;
    padding-bottom: 5px;
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 4px;
    }
  }
}
